{% extends 'base.html' %}
{% block title %}{{city_name}}{% endblock %}
{% block content %}
<div class="container">
    <div class="text-center bg-light p-5 rounded shadow mt-3">
        <h1 style="font-family: sans-serif;">Weather App</h1>
    </div>
    <!-- <div class="bg-secondary p-4 rounded shadow mt-3">
        <div class="text-light row mt-1"> 
            <div class="text-white-50">
                <span>{% now "l" %}</span><br>
                <span>{{date}}</span>
            </div>
            <div class="display-4">{{temp}}<sup>o</sup>C</div>
            <span>
                <img src="http://openweathermap.org/img/wn/{{icon}}@2x.png" alt="" width=150><br>{{description}}
            </span>
        </div>
    </div> -->
<div class="container mt-3">
    <div class="row">
        <div class="col bg-secondary rounded shadow p-3 m-2" id="bg">
            <div class="text-light mt-1">
                <div class="text-white-50">
                    <span>{% now "l" %}</span><br>
                    <span>{{date}}</span>
                </div>
                <div class="display-4">{{temp}}<sup>o</sup>C</div>
                <span>
                    <img src="http://openweathermap.org/img/wn/{{icon}}@2x.png" alt="" width=150>
                </span><br>
                <span class="p-3">{{description}}</span>
            </div>
        </div>
        <div class="col bg-dark bg-opacity-75 rounded p-3 m-2" id="bg">
            <div class="text-center text-light mt-1">
                <div class="text-white-50 mb-6">
                    <span>{{date1}}</span>
                </div>
                <span>
                    <img src="http://openweathermap.org/img/wn/{{icon1}}@2x.png" alt="" width=80>
                </span><br>
                <div class="display-6">{{temp1}}<sup>o</sup>C</div>
                <span class="p-3">{{description1}}</span>
            </div>
        </div>
            <div class="col bg-secondary rounded shadow p-3 m-2" id="bg">
                <div class="text-light mt-1">
                    <div class="text-white-50">
                        <span>{{date2}}</span>
                    </div>
                    <div class="display-6">{{temp2}}<sup>o</sup>C</div>
                    <span>
                        <img src="http://openweathermap.org/img/wn/{{icon2}}@2x.png" alt="" width=80>
                    </span><br>
                    <span class="p-3">{{description}}</span>
                </div>
            </div>
        <div class="col bg-dark bg-opacity-75 rounded p-3 m-2" id="bg">
            <div class="text-center text-light mt-1">
                <div class="text-white-50 mb-6">
                    <span>{{date1}}</span>
                </div>
                <span>
                    <img src="http://openweathermap.org/img/wn/{{icon1}}@2x.png" alt="" width=80>
                </span><br>
                <div class="display-6">{{temp1}}<sup>o</sup>C</div>
                <span class="p-3">{{description1}}</span>
            </div>
        </div>
            <div class="col bg-secondary rounded shadow p-3 m-2" id="bg">
                <div class="text-light mt-1">
                    <div class="text-white-50">
                        <span>{{date4}}</span>
                    </div>
                    <div class="display-6">{{temp4}}<sup>o</sup>C</div>
                    <span>
                        <img src="http://openweathermap.org/img/wn/{{icon4}}@2x.png" alt="" width=80>
                    </span><br>
                    <span class="p-3">{{description4}}</span>
                </div>
        </div>
    </div>
      
</div>
</div>

<script>
    console.log("Script");
    var temp = "{{temp}}";
    var temp1 = "{{temp1}}";
    var temp2= "{{temp2}}";
    var temp3 = "{{temp3}}";
    var temp4 = "{{temp4}}";
    console.log(temp,temp1,temp2,temp3,temp4);
    var bg = document.querySelectorAll("#bg")
    console.log(bg);
    bg.style.backgroundImage = url('')
    console.log("bg set");
</script>









{% endblock content %}
